<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.architecture.home">

    <application>

        <service
            android:name="com.app.base.service.DownLoadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MediaPlayerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.TestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.album.AlbumDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
